 .parent{
   border: 2px solid #ddd;
   display: flex;
   flex-direction: row;
 }

 .leftchild{
   border: 2px solid black;
   margin: 1%;
   padding: 1%;
   width: 50%;
   font-size: 23px;
 }
 a{
   color: black;
 }
 h1,p{
   color:black;
 }
.leftchild img{
  width: 70%;
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 90%;
  border: 2px solid black;
}
.rightchild{
  border: 2px solid blue;
  margin:1%;
  padding:1%;
  width: 50%;
  font size: 25px;
}
.rightchild{
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;

}
@media only screen and (min-width: 320px) and (max-width: 480px){
.parent{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
table{
  width: 90%;
  font size: 30px;
}
.table1{
  overflow-x: ; auto;
}
a{
  word-wrap: break-word;
}
.leftchild{
  border: 2px solid black;
  margin: 1%;
  padding: 1%;
  width: 90%%;
  background: #EAE3E6;
}
.leftchild img{
 width: 90%;
 display: black;
 margin-left:auto;
 margin-right:auto;
 border-radius: 20%;
 border: 2px solid black;
}

.rightchild{
  border: 2px solid black;
  margin: 1%;
  padding: 1%;
  width: 30%;
  background: #EAE3E6;
}
}
